.table-container table {
	width: 100%;
	min-width: 50rem;
	color: var(--text-color);
}

.table-container th,
.table-container td {
	padding: .6rem;
}

.queue-entry > * {
	border-top: 1px solid var(--border-color);
}

.queue-entry:nth-child(1 of .queue-entry:not([data-status="downloading"])) .move-up-dl,
.queue-entry:nth-last-child(1 of .queue-entry:not([data-status="downloading"])) .move-down-dl,
.queue-entry[data-status="downloading"] :where(.move-up-dl, .move-down-dl) {
	display: none;
}

.queue-entry:nth-child(1 of .queue-entry:not([data-status="downloading"])) .move-down-dl {
	margin-left: calc(20px + .75rem);
}

.queue-entry:nth-last-child(1 of .queue-entry:not([data-status="downloading"])) .move-up-dl {
	margin-right: calc(20px + 1.25rem);
}

.queue-entry[data-status="downloading"] .remove-dl,
.queue-entry:nth-child(1 of .queue-entry:not([data-status="downloading"])):nth-last-child(1 of .queue-entry:not([data-status="downloading"])) .remove-dl {
	margin-left: calc(20px + 2.75rem);
}

.status-column {
	width: clamp(7.5rem, 11vw, 10rem);
}

.number-column {
	width: 6.5rem;
}

.option-column {
	width: 9rem;
}

.option-column button:not(:last-child) {
    margin-right: .5rem;
}

.option-column button img {
	width: 20px;
}

#empty-window {
	display: none;
	margin-top: 1rem;
}

.table-container:has(#queue tr:empty) #empty-window,
.table-container:not(:has(#queue tr:not(:empty))) #empty-window {
	display: block;
}
